@using SQuiz.Shared.Extensions
@implements IDisposable

<style>
    .my-line {
        border: black 1px solid;
        border-radius: 3px;
        height: 5px;
        min-width: 30px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .my-line:last-of-type {
        display: none;
    }

    .header-steps {
        max-width: 875px;
        padding: 30px;
        overflow-x: auto;
    }
</style>

<div class="card">
    <div class="card-header">
        <p>
            <h3>@Title</h3>
        </p>
        @SubHeaderContent
        <div class="d-flex align-items-center header-steps">
                @foreach (var (item, i) in StepItems.WithIndex())
                {
                    if (!item.ShowInNavigation)
                    {
                        continue;
                    }
                    var classes = item == ActiveStepItem ? "btn-outline-primary" : "btn-outline-secondary";
                        
                    <button style="border-radius: 20px" class="btn @classes" @onclick=@(() => ActivateStepItem(item))>
                        @(i + 1)
                        <span class="small text-truncate">@item.Title</span>
                        <span class="app-tooltip">@item.Title</span>
                    </button>
                    <span class="my-line"></span>
                }
        </div>
        
    </div>
    <div class="card-body">
        <div class="row d-flex">
            <div class="col-lg-11 col-12">
                <div>
                    <CascadingValue Value="this">
                        @ChildContent
                    </CascadingValue>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment? SubHeaderContent { get; set; }

    public StepItem ActiveStepItem { get; set; }

    public IList<StepItem> StepItems = new List<StepItem>();    

    public void NavigateTo(int index)
    {
        ActivateStepItem(StepItems[index]);
    }

    public void AddStepItem(StepItem stepItem)
    {
        StepItems.Add(stepItem);
        if (StepItems.Count == 1)
        {
            ActiveStepItem = stepItem;
        }
        StepItems = StepItems.OrderBy(x => x.Order).ToList();
        StateHasChanged();
    }

    public void RemoveByIndex(int index)
    {
        StepItems.RemoveAt(index);

        StateHasChanged();
    }

    public void ActivateStepItem(StepItem item) 
    {
        ActiveStepItem = item;
        StateHasChanged();
    }

    public void Dispose() 
    {
        StepItems = new List<StepItem>();
    }
}